body {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    background-image: url("2288809.jpg");
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgba(0, 0, 0, 0.863);
}

.lines {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 3px;
    height: 100%;
    transform: translateY(0%);
    /* top: 0; */
    left: 50%;
    background: rgba(255, 255, 255, 0.007);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    border-radius: 60px;
    transform: translateY(600%);
    /* top: -50%; */
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 2s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -40%;
}

.line.line:nth-child(1)::after {
    animation-delay: 1s;
}

.line:nth-child(3) {
    margin-left: -30%;

}

.line.line:nth-child(3)::after {
    animation-delay: 1.4s;
}

.line:nth-child(4) {
    margin-left: -20%;

}

.line.line:nth-child(4)::after {
    animation-delay: 0.3s;
}

.line:nth-child(5) {
    margin-left: -10%;

}

.line.line:nth-child(5)::after {
    animation-delay: 1.2s;
}

.line:nth-child(6) {
    margin-left: 10%;

}

.line.line:nth-child(6)::after {
    animation-delay: 0.7s;
}
.line:nth-child(7) {
    margin-left: 20%;

}

.line.line:nth-child(7)::after {
    animation-delay: 1.5s;
}
.line:nth-child(8) {
    margin-left: 30%;

}

.line.line:nth-child(8)::after {
    animation-delay: 0.9s;
}

.line:nth-child(9) {
    margin-left: 40%;

}

.line.line:nth-child(9)::after {
    animation-delay: 0.5s;
}

@keyframes drop
{
    0% {
        transform: translateY(0%);
         /* top: -50%;  */
    }
    
    100% {
        transform: translateY(600%);
         /* top: 110%;  */
    }
}
 